.status {
    position: fixed;
    width: 910px;
    height: 80px;
    padding: 10px;
    background-color: rgb(215, 236, 255);
    color: green;
    z-index: 1000;
}

.status-top {
    padding-top: 90px;
}